.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.1);
}
.Modal {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 16px;
    outline: none;
    padding: 30px;
    margin-right: -30%;
    transform: translate(-50%, -50%);
}

.btn-cancel {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid white;
}

.btn-cancel:hover {
    border: 1px solid #aaa;
}