.blur-circle1 {
    display: block;
    position: absolute;
    left: -50.26px;
    top: 40.17px;

    width: 350px;
    height: 350px;
    background: rgba(174, 84, 197, 0.9);
    filter: blur(130px);
    z-index: -1;
}

.blur-circle2 {
    position: absolute;
    right: 0px;
    top: 750px;

    width: 350px;
    height: 350px;
    background: rgba(214, 50, 99, 0.4);
    filter: blur(130px);
    z-index: 1;
}
.section-home {
    margin-top: 150px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    .promote{
        width: 40%;
        margin-top: 100px;
        .btn-group {
            margin-top: 60px;
        }
    }
    .img-container-res {display: none;}
    .img-container {
        width: 50%;
        img {
            width: 100%;
        }
    }

}

.section-mint {
    margin-top: 130px;
    padding: 0px 100px;
    background-color: #0D0D0D;
    position: relative;

    display: flex;
    justify-content: space-between;
    .img-container {
        width: 100%;
        padding: 50px 0px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            border-radius: 15px;
        }
    }
    .mint-intro {
        padding: 180px 0px 100px 80px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
}

.section-about {

    margin-top: 350px;
    padding: 0px 100px;

    .container {
        display: flex;
        background-color: #0D0D0D;
        border-radius: 15px;
        padding: 60px 50px;
        .about-text {
            width: 60%;
            padding-right: 50px;
        }
        .img-container {
            display: flex;
            align-items: center;
            width: 40%;
            img {
                border-radius: 15px;
                width: 100%;
            }
        }
    }
}

.section-title-howto {display: none;}

.section-howto {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding: 0px 100px;
    .arrow-part {
        margin-top: 50px;
        width: 42%;
        position: relative;
        img {
            position: absolute;
            top: 50px;
            right : 0px;
        }
    }
    .arrow-part-2 {
        margin-top: 50px;
        text-align: right;
        width: 42%;
        position: relative;
        img {
            position: absolute;
            top: 50px;
            left : 0px;
        }
    }
    .step-number {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;
        img {
            display: block;
            margin-bottom: 30px;
        }
    }
    .description {
        width: 42%;
        .step1 {
            margin-bottom: 170px;
        }
        .step2 {
            margin-bottom: 170px;
        }

    }
}

.section-team {
    margin-top: 150px;
    .section-title {
        text-align: center;
    }
    .member-list {
        text-align: center;
        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        background-color: #0D0D0D;
        margin-top: 50px;
    }
}

.section-FAQ {
    margin-top: 250px;
    padding: 0px 100px;
    .title {
        padding: 0px 40px;
    }
    .container {
        border-radius: 10px;
        padding: 65px 0px;
        background-color: #0D0D0D;
    }
}


/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    //border: 1px solid #5C6062;
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid #5C6062;
}

.accordion__button {
    position: relative;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    background-color: #0D0D0D;
    color: #7A82C0;
    cursor: pointer;
    padding: 40px;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #141414;
}

.accordion__button:before {
    position: absolute;
    right: 35px;
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    border-top: 1px solid #5C6062;
    padding: 40px 80px;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    color: white;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 1024px) {
    .section-howto {
        .arrow-part {
            img {width: 200px; height:200px;}
        }
        .arrow-part-2 {
            img {width: 200px; height:200px;}
        }
    }
}

@media(max-width: 768px) {
    .blur-circle1 { display:none; }
    .blur-circle2 { display:none; }
    .section-home {
        padding: 0px 20px;
        display: block;
        .img-container-res {
            display: block;
            width: 100%;
            img {width: 100%; height: 100%;}
        }
        .img-container {display: none;}
        .promote {
            margin-top: 30px;
            width: 100%;
            .title {
                text-align: center;
                span{font-size: 48px!important;}
            }
            .description {
                text-align: center;
                span{font-size: 14px!important;}
            }
        }
        .btn-group {
            button {
                margin-right: 0px;
                width: 120px!important;
                height: 45px!important;
            }
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
    .section-mint {
        padding: 70px 24px;
        display: block;
        .img-container {width: 100%;}
        .mint-intro {
            text-align: center;
            span {font-size: 14px!important;}
            padding: 30px 0px;
            gap: 30px;
        }
    }
    .section-about {
        margin-top: 100px;
        padding: 0px 24px;
        .container {
            padding: 0px 0px;
            display: block;
            .about-text {
                width: auto;

                padding: 35px 20px;
                .title {text-align: center;span{font-size: 24px!important;}}
                span{font-size: 14px!important;}
            }
            .img-container {
                width: 100%;
            }
        }
    }

    .section-title-howto {
        margin-top: 130px;
        display: block;
        text-align: center;
        position: relative;
        img {
            position: absolute;
            top: 50px;
            right: 0px;
        }
    }

    .section-howto {
        margin-top: 100px;
        padding: 0px 24px;
        .arrow-part {
            display: none;
        }
        .arrow-part-2 {
            display: none;
        }
        .step-number {
            width: 10%;
            .numbering {
                width: 40px;
                height: 40px;
            }
        }
        .description {
            width: 80%;
            .step1 {
                img {width: 24px; height: 24px;}
                .title {span{font-size: 16px!important;}}
                .desc {span{font-size: 12px!important; margin-bottom: 15px!important;}}
                margin-bottom: 180px;
            }
            .step2 {
                img {width: 24px; height: 24px;}
                .title {span{font-size: 16px!important;}}
                .desc {span{font-size: 12px!important; margin-bottom: 15px!important;}}
                margin-bottom: 180px;
            }
            .step3 {
                .title {span{font-size: 16px!important;}}
                .desc {span{font-size: 12px!important; margin-bottom: 15px!important;}}
            }
        }
    }
    .section-team {
        .member-list{
            padding: 50px 24px;
        }
    }
    .section-FAQ {
        padding: 0px 0px;
        .container {
            .title {
                text-align: center;
                span {font-size: 24px!important;}
            }
        }
    }
    .accordion__button {
        font-size: 16px;
        padding: 40px 100px 40px 24px;
    }
    .accordion__panel {
        font-size: 12px;
        padding: 40px 30px;
        font-weight: 300;
    }
}