.blur-circle1 {
    position: absolute;

    left: -50.26px;
    top: 40.17px;

    width: 350px;
    height: 350px;
    background: rgba(174, 84, 197, 0.9);
    filter: blur(130px);
    z-index: -1;
}

.blur-circle2 {
    position: absolute;

    right: -150px;
    top: 750px;

    width: 350px;
    height: 350px;
    background: rgba(214, 50, 99, 0.4);
    filter: blur(130px);
    z-index: 1;
}
.section-home {
    margin-top: 100px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    .promote{
        margin-top: 170px;
        .btn-group {
            margin-top: 60px;
        }
    }
}

.section-mint {
    margin-top: 100px;
    padding: 0px 100px;
    background-color: #0D0D0D;
    position: relative;

    display: flex;
    justify-content: space-between;
    .img-container {
        width: 80%;
        border-radius: 10px;
        img {
            width: 100%;
        }
    }
    .mint-intro {
        padding: 180px 80px 100px 80px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
}

.section-about {

    margin-top: 350px;
    padding: 0px 100px;

    .container {
        display: flex;
        background-color: #0D0D0D;
        border-radius: 15px;
        .about-text {
            width: 66%;
            padding: 60px 50px;
        }
        .img-container {

            width: 34%;
            img {
                border-radius: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }
}