

.background {
    background-color: black;
}
.header {
    z-index: 2;
    position: fixed;
    width: calc(100vw - 200px);
    left: 0px;
    height: 65px;
    top: 0;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    .menu-bar {

        display: none;
        flex-direction: column;
        position: absolute;

        top: 85px;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.9);
        overflow: hidden;
        max-height: 0px;
        width: 100%;
        text-align: center;
        .menu-item {
            padding: 20px 0px;
            a {
                color: white;
                text-decoration: none;
                transition: 0.3s;
            }
            a:hover {
                color:#7A82C0
            }
        }
        transition: all 0.5s;
    }
    .expand {
        overflow: auto;
        max-height: 10000px;
    }

    .section {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        font-style: normal;
        font-size: 14px;
        font-weight: 500;

        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover {
            color:#7A82C0
        }
    }

    .mint-section {
        font-style: normal;
        font-size: 14px;
        font-weight: 500;

        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover {
            color:#7A82C0
        }
    }

    .social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        .menu {display: none;}
        .btn-connect {
            border: none;
            border-radius: 10px;
            padding: 10px 30px;
            font-family: 'Poppins';
            height: 50px;
            color: white;
            background: linear-gradient(114.44deg, #9F03FF 0%, #230336 100%);
            font-size: 18px;
        }
        .btn-connect {
            cursor: pointer;
        }
    }
}

footer {
    padding: 0px 100px;

    .container {
        padding: 50px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #5C6062;
        .social-icons {
            display: flex;
            justify-content: space-between;
            gap: 24px;
        }
        .logo{
            svg {
                width: 60px;
                height: 60px;
            }
        }
    }
    .copyright {
        padding: 30px 0px;
        text-align: center;
    }
}

@media(max-width: 896px) {
    .header {
        left: 0px;
        width: calc(100vw - 40px);
        padding: 10px 20px;
        .section {display: none;}
        .social-icons {
            .menu {display: block;}
            .btn-connect {
                padding: 10px 20px;
                font-size: 14px;
                margin-right: 0px;
            }
        }
        .menu-bar {
            display: flex;
        }
    }

    .section-howto {
        .arrow-part-2 {display: none;}
    }
    footer {
        padding: 0px 20px;
        .container {
            padding: 50px 0px;
            .logo{
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}